h1{ /*centralize the tic-tac-toe*/
	text-align: center;
}

table{
	margin: 0 auto;
}
td{
	padding: 40px;
}

#midBox{
	border: 1px solid black;
}

.midRow{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.midColumn{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

